@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

nav, footer{
  padding: 1rem 0;
  background-color: #1F2937;
  color: white;
}


nav {
  position: fixed;
  top: 0; 
  right: 0;
  width: 100%;
  transition: 0.6s;
}

.sticky {
  background-color: white;
}

.sticky .nav-logo {
  color: black;
}

.sticky .nav-links a {
  color: black;
}

.sticky .nav-links a:hover {
  border-bottom: 1px solid black;
}

.nav-logo {
  flex-grow: 1;
  font-size: 24px;
  color: #f9faf8;
}

.nav-links a {
  margin-right: 1rem;
  font-size: 18px;
  color: #EFe7eb;
}

.nav-links a:hover {
  border-bottom: 1px solid white;
}

.hero {
  background-color: #1F2937;
  color: white;
}
.hero-container {
  padding: 3rem 0;
  display: flex;
  align-items: center;
}

.heroImg{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  height: 300px;
}
.hero-text {
  padding-right: 3rem;
}
.main-text {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
}
.secondary-text {
  font-size: 18px;
  color: #EFe7eb;
  font-weight: 300;
}

.btn {
  transition: 0.6s;
  background-size: 200%;
  border: none;
}

.signup {
  background-color: #3882f6;
  padding: .5rem 1.2rem;
  border-radius: 4px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgba(255,154,54,1) 0%, rgba(255,77,0,1) 100%);
}


.signup:hover {
  background-position: right;
  font-weight: 700;
}

.sectionTitle {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 2rem 0;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 300px;
  /* border: 1px solid black; */
  text-align: center;
  width: 300px;
  /* margin-right: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card-Img {
  transition: transform .2s;
}

.card-Img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  margin-bottom: 1rem;
}

.card-Img img{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
}

.features {
  padding: 3rem 0;
}

.card-Desc {
  text-align: center;
  padding: 0 2.5rem;
  font-size: 16px;
  font-weight: 300;
  margin-top: .5rem;
}

.qoute {
  background-color: #e5e7eb;
  padding: 3rem 0;

}

.qoute-container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.speaker {
  align-self: end;
  font-size: 24px;
  font-weight: 400;
  margin-right: 4rem;
}
/* 
.cta-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
} */

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.cta-cont {
  background-color: #3882f6;
  padding: 2rem 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}
.cta-desc {
  font-weight: 300;
}
.cta-sign {
  padding: .2rem 2rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 8px;
}


footer {
  text-align: center;
  color: #EFe7eb;
  font-weight: 300;
}
